div {
  display: block;
}

.outline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-pack: center;
  padding: 0px 10rem;
  margin: 4rem 0px 8rem;
  opacity: 1;
}

.paragraph {
  max-width: 640px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: rgb(100, 100, 100);
  letter-spacing: 1.05px;
}

.intro {
  font-size: 28px;
  padding-top: 10px;
  letter-spacing: 1.2px;
  color: #77001d;
  font-family: "Raleway", sans-serif;
}

.intro .text {
  text-decoration: underline;
}

h1 {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #000;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #000;
  }
}

@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #000;
  }
}

@-webkit-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #000;
  }
}

@-ms-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #000;
  }
}

@-o-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #000;
  }
}
