/* Block display on all div */
div {
  display: block;
}

/* Max width of content on the page */
.paragraph2 {
  max-width: 1028px;
}

/* A description of the portfolio section */
.note {
  margin-bottom: 8em;
  font-size: 20px;
}

/* Font size of paragraph tag */
p {
  font-size: 18px;
  padding-right: 1em;
}

/* Row containers that contain my projects */
.row {
  display: flex;
  margin: 4rem 0px;
}

/* Left column of row container. Contains title, desc, attributes, links of project */
.col-l {
  flex-basis: 60%;
  max-width: 1028px;
}

/* Title of left column */
h3 {
  text-decoration: underline #77001d;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

/* Project attributes of left column/Hover transition */
#bubbles {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  background: #77001d;
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 0.35rem 0.75rem;
  margin: 0.4rem 0.3rem 0.2rem 0px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px,
    rgba(0, 0, 0, 0.19) 0px 2px 6px 0px;
  -webkit-appearance: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px,
    rgba(0, 0, 0, 0.19) 0px 2px 6px 0px;
  border: 1px solid rgb(105, 105, 105);
  transition: all 0.6s ease-in-out 0s;
  transition: transform 0.6s; /* Animation */
}
#bubbles:hover {
  transform: scale(1.1);
}

/* Margin separating the description of the project from links */
.desc2 {
  margin-bottom: 2em;
}

/* A notice on projects if there is no link */
.notice {
  color: #77001d;
}

/* View Site link of the project/Hover transition */
.desc-link1 {
  margin-top: 1.5rem;
  text-transform: uppercase;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 1.1px;
  margin-right: 1.5rem;
  background: #77001d;
  border: 1px solid #77001d;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px,
    rgba(0, 0, 0, 0.19) 0px 2px 6px 0px;
  -webkit-appearance: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px,
    rgba(0, 0, 0, 0.19) 0px 2px 6px 0px;
  color: rgb(255, 255, 255);
  transition: all 0.5s ease-in-out 0s;
  text-decoration: none;
}
.desc-link1:hover {
  background: rgb(221, 221, 221);
  transition: all 0.75s ease-in-out 0s;
}

/* View Source link of the project/Hover transition */
.desc-link2 {
  margin-top: 1.5rem;
  text-transform: uppercase;
  padding: 0.4rem 1rem;
  border-radius: 3px;
  font-weight: 500;
  letter-spacing: 1.1px;
  margin-right: 1.5rem;
  border: 1px solid#77001d;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px,
    rgba(0, 0, 0, 0.19) 0px 2px 6px 0px;
  -webkit-appearance: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px,
    rgba(0, 0, 0, 0.19) 0px 2px 6px 0px;
  text-decoration: none;
  background: transparent;
  color: #000;
  transition: all 0.5s ease-in-out 0s;
}
.desc-link2:hover {
  background: #77001d;
  color: #fff;
  transition: all 0.5s ease-in-out 0s;
}

/* Right column of row container. Contains an image of the project */
.col-r {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0px 1.5rem;
}

/* Image of the project/Hover transition */
.imgs {
  box-shadow: 0 15px 35px -7px #000;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 15px 35px -7px #000;
  transition: all 0.75s ease-in-out 0s;
  transition: transform 0.75s;
}
.imgs:hover {
  transform: scale(1.1);
}
