.foot {
  bottom: 0;
  width: 100%;
  background: #fff;
  text-align: center;
  box-sizing: border-box;
  padding: 3rem 4rem;
  transition: all 300ms ease-in-out 0s;
}

.foot h2 {
  font-size: 28px;
  font-family: "Raleway", sans-serif;
  color: #77001d;
}

.foot .contacts {
  display: block;
  color: rgb(100, 100, 100);
  letter-spacing: 1.1px;
  font-size: calc(14px + 2 * ((100vw - 330px) / 438));
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin: 1rem 0px 2rem;
}

.foot .contacts a {
  text-decoration: underline;
}

.social ul {
  display: flex;
  padding-inline-start: 0px;
  -webkit-box-pack: justify;
  justify-content: center;
}

.social ul li {
  list-style: none;
  margin: 0 15px;
}

.footers {
  padding-top: 10px;
  font-size: calc(14px + 2 * ((100vw - 330px) / 438));
  font-family: "Raleway", sans-serif;
  color: rgb(100, 100, 100);
  letter-spacing: 1.05px;
  transition: all 300ms ease-in-out 0s;
  margin: 1.5rem 0px 0px;
}

@media (min-width: 768px) {
  .foot {
    display: none;
  }
}
