/* Footer */
.foot {
  bottom: 0;
  width: 100%;
  background: #fff;
  text-align: center;
  box-sizing: border-box;
  padding: 3rem 4rem;
  transition: all 300ms ease-in-out 0s;
}

/* Main title of footer */
.foot h2 {
  font-size: calc(22px + 6 * ((100vw - 330px) / 438));
  transition: all 300ms ease-in-out 0s;
  font-family: "Raleway", sans-serif;
  color: #77001d;
}

/* Email/Contact Segment of Footer */
.foot .contacts {
  display: block;
  color: rgb(100, 100, 100);
  letter-spacing: 1.1px;
  font-size: calc(14px + 4 * ((100vw - 330px) / 438));
  transition: all 300ms ease-in-out 0s;
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin: 1rem 0px 2rem;
}

/* Add underline to email in footer */
.foot .contacts a {
  text-decoration: underline;
}

/* Display for icons in footer */
.social ul {
  display: flex;
  padding-inline-start: 0px;
  -webkit-box-pack: justify;
  justify-content: center;
}
.social ul li {
  list-style: none;
  margin: 0 15px;
}

/* Who website was created by in footer */
.footers {
  padding-top: 10px;
  font-size: calc(12px + 4 * ((100vw - 330px) / 438));
  font-family: "Raleway", sans-serif;
  color: rgb(100, 100, 100);
  letter-spacing: 1.05px;
  transition: all 300ms ease-in-out 0s;
  margin: 1.5rem 0px 0px;
}

/* Do not display footer on desktop view */
@media (min-width: 769px) {
  .foot {
    display: none;
  }
}
