div {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(221, 221, 221);
  transition: all 300ms ease-in-out 0s;
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  text-transform: uppercase;
  font-size: 1rem;
  /* color: rgb(100, 100, 100); */
  background: transparent;
  border-bottom: none;
  transition: all 500ms ease-in-out 0s;
  box-sizing: border-box;
}

.navbar > div {
  -webkit-box-pack: justify;
  justify-content: center;
  padding: 0.1rem;
  transition: padding 500ms ease-in-out 0s;
}

body.scrolled .navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  text-transform: uppercase;
  font-size: 1rem;
  background: rgb(255, 255, 255);
  transition: all 500ms ease-in-out 0s;
}

.navbar h2 {
  color: #77001d;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.navbar li {
  list-style: none;
  display: inline-block;
  font-size: 14px;
}
.navbar ul {
  padding-inline-start: unset !important;
  margin-block-end: 0em;
  text-align: center;
  transition: all 500ms ease-in-out 0s;
}

/* Sidebar Nav */
.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  -webkit-box-pack: justify;
  justify-content: space-between;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 260px;
  z-index: 100;
  padding: 1.4rem 0.5rem;
  box-sizing: border-box;
  overflow-y: none;
}

/* Marcus Stewart Header */
.sidebar h2 {
  display: block;
  padding: 10px 20px;
  letter-spacing: 1.1px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #77001d;
}

/* Text Below (Marcus Stewart) Header */
.sub-sidebar {
  display: block;
  letter-spacing: 1.1px;
  padding: 0px 20px;
  color: rgb(100, 100, 100);
  padding-bottom: 150px;
  line-height: 22px;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}

/* Sidebar Navigation Links */
.sidebar ul {
  display: block;
  padding: 10px 10px;
  color: rgb(100, 100, 100);
  letter-spacing: 1.3px;
  padding-bottom: 225px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

/* Link Hover Animation */
.lens .effect li {
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: 0.3s ease-out;
}
.lens .effect li #ln::before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top: 2px solid #77001d;
  border-left: 2px solid #77001d;
  transition: 0.3s;
  opacity: 0;
}
.lens .effect li #ln::after {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-right: 2px solid #77001d;
  border-bottom: 2px solid #77001d;
  transition: 0.3s;
  opacity: 0;
}
.lens .effect li::before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-right: 2px solid #77001d;
  border-top: 2px solid #77001d;
  transition: 0.3s;
  opacity: 0;
}
.lens .effect li::after {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-left: 2px solid #77001d;
  border-bottom: 2px solid #77001d;
  transition: 0.3s;
  opacity: 0;
}
.lens .effect li:hover {
  color: #77001d;
}
.lens .effect li:hover::before {
  opacity: 1;
  right: 5px;
  top: 5px;
}
.lens .effect li:hover::after {
  opacity: 1;
  left: 5px;
  bottom: 5px;
}
.lens .effect li:hover #ln::before {
  opacity: 1;
  left: 5px;
  top: 5px;
}
.lens .effect li:hover #ln::after {
  opacity: 1;
  right: 5px;
  bottom: 5px;
}

/* Contact Info in Sidebar */
.contact {
  display: block;
  padding: 10px 20px;
  color: rgb(100, 100, 100);
  letter-spacing: 1.1px;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  padding-top: 0px;
  padding-bottom: 5px;
}

/* Links */
a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  color: #77001d;
  transition: all 1s ease-in-out;
}
a:hover,
a:focus {
  color: #77001eb0;
  transition: all 1s ease-in-out;
}

.socials ul {
  padding: 10px;
  display: flex;
}

.socials ul li {
  list-style: none;
  margin: 0 15px;
}

/* Color change of icon on hover/off hover */
#hover {
  transition: all 300ms ease-in-out 0s;
}
#hover:hover {
  color: #77001d !important;
  transition: all 300ms ease-in-out 0s;
}

/* Footer in Sidebar */
.footer {
  display: inline-block;
  padding: 6px 20px;
  color: rgb(100, 100, 100);
  font-size: 12px;
  font-family: "Raleway", sans-serif;
}

@media (min-width: 768px) {
  .navbar {
    display: none;
  }

  .lay {
    position: absolute;
    left: 260px;
  }
}

@media (max-width: 769px) {
  .sidebar {
    display: none;
  }

  /* Top Padding on Main Section on Width Change */
  .under {
    padding-top: 70px;
  }

  /* Main Section on Width Change */
  .outline {
    text-align: center;
    margin: 3rem auto !important;
    height: 100% !important;
    padding: 0px 10rem !important;
  }
}
@media (max-width: 425px) {
  .navbar > div > div:nth-child(2) {
    display: none;
  }
}
