div {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(221, 221, 221);
  transition: all 300ms ease-in-out 0s;
}

/* Sidebar Nav */
.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 260px;
  z-index: 100;
  padding-top: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

#main-color {
  color: #77001d;
}

/* Marcus Stewart Header */
.sidebar h2 {
  display: block;
  padding: 10px 20px;
  letter-spacing: 1.1px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

/* Text Below (Marcus Stewart) Header */
.sub-sidebar {
  display: block;
  letter-spacing: 1.1px;
  padding: 0px 20px;
  color: rgb(100, 100, 100);
  padding-bottom: 175px;
  line-height: 22px;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}

/* Sidebar Navigation Links */
.sidebar ul {
  display: block;
  padding: 10px 10px;
  color: rgb(100, 100, 100);
  letter-spacing: 1.3px;
  padding-bottom: 225px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

/* Contact Info in Sidebar */
.contact {
  display: block;
  padding: 10px 20px;
  color: rgb(100, 100, 100);
  letter-spacing: 1.1px;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  padding-top: 0px;
  padding-bottom: 5px;
}

/* Links */
a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  color: #77001d;
}

.socials ul {
  padding: 10px;
  display: flex;
}

.socials ul li {
  list-style: none;
  margin: 0 15px;
}

/* Color change of icon on hover/off hover */
#hover {
  transition: all 300ms ease-in-out 0s;
}
#hover:hover {
  color: #77001d !important;
  transition: all 300ms ease-in-out 0s;
}

/* Footer in Sidebar */
.footer {
  display: inline-block;
  padding: 10px 20px;
  color: rgb(100, 100, 100);
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  padding-bottom: 10px;
}
