/* Block display on all div */
div {
  display: block;
}

/* Background color of background */
body {
  margin: 0;
  padding: 0;
  background-color: rgb(221, 221, 221);
}

/* Outline of all pages */
.outline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-pack: center;
  padding: 0px 5rem;
  margin: 2rem 0px 8rem;

  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

/* Navigation bar on mobile/tablet view */
.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  text-transform: uppercase;
  background: transparent;
  border-bottom: none;
  transition: all 500ms ease-in-out 0s;
  box-sizing: border-box;
}

/* Navbar background change on scroll */
body.scrolled .navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  text-transform: uppercase;
  background: rgb(255, 255, 255);
  transition: all 500ms ease-in-out 0s;
}

/* Justify navbar to be center */
.navbar > div {
  -webkit-box-pack: justify;
  justify-content: center;
  padding: 0.1rem;
  transition: padding 500ms ease-in-out 0s;
}

/* Marcus Stewart title on navbar */
.navbar h2 {
  color: #77001d;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

/* Navbar link styling */
.navbar li {
  list-style: none;
  display: inline-block;
  font-size: 14px;
}
.navbar ul {
  padding-inline-start: unset !important;
  margin-block-end: 0em;
  text-align: center;
}

/* Navbar link fade on hover */
#nav-ln {
  color: rgb(100, 100, 100);
  transition: all 1s ease-in-out 0s;
}
#nav-ln:hover,
#nav-ln:focus {
  color: #77001d;
  transition: all 1s ease-in-out 0s;
}

/* Sidebar nav */
.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  -webkit-box-pack: justify;
  justify-content: space-between;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 260px;
  z-index: 100;
  padding: 1.4rem 0.5rem;
  box-sizing: border-box;
  overflow-y: none;
}

/* Marcus Stewart header */
.sidebar h2 {
  display: block;
  padding: 10px 20px;
  letter-spacing: 1.1px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #77001d;
}

/* Text Below (Marcus Stewart) Header */
.sub-sidebar {
  display: block;
  letter-spacing: 1.1px;
  padding: 0px 20px;
  color: rgb(100, 100, 100);
  padding-bottom: 150px;
  line-height: 22px;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}

/* Sidebar Navigation Links */
.sidebar ul {
  display: block;
  padding: 10px 10px;
  color: rgb(100, 100, 100);
  letter-spacing: 1.3px;
  padding-bottom: 225px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

/* Resume link on sidebar/Hover transition */
ul .res {
  color: rgb(100, 100, 100);
}
ul .res:hover,
ul .res:focus {
  color: rgb(100, 100, 100);
}

/* Link Hover Animation (Snapshot frame around text) */
.lens .effect li {
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: 0.3s ease-out;
}
.lens .effect li #ln::before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top: 2px solid #77001d;
  border-left: 2px solid #77001d;
  transition: 0.3s;
  opacity: 0;
}
.lens .effect li #ln::after {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-right: 2px solid #77001d;
  border-bottom: 2px solid #77001d;
  transition: 0.3s;
  opacity: 0;
}
.lens .effect li::before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-right: 2px solid #77001d;
  border-top: 2px solid #77001d;
  transition: 0.3s;
  opacity: 0;
}
.lens .effect li::after {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-left: 2px solid #77001d;
  border-bottom: 2px solid #77001d;
  transition: 0.3s;
  opacity: 0;
}
.lens .effect li:hover {
  color: #77001d;
}
.lens .effect li:hover::before {
  opacity: 1;
  right: 5px;
  top: 5px;
}
.lens .effect li:hover::after {
  opacity: 1;
  left: 5px;
  bottom: 5px;
}
.lens .effect li:hover #ln::before {
  opacity: 1;
  left: 5px;
  top: 5px;
}
.lens .effect li:hover #ln::after {
  opacity: 1;
  right: 5px;
  bottom: 5px;
}

/* Contact Info in Sidebar */
.contact {
  display: block;
  padding: 10px 20px;
  color: rgb(100, 100, 100);
  letter-spacing: 1.1px;
  font-size: 14.5px;
  font-family: "Raleway", sans-serif;
  padding-top: 0px;
  padding-bottom: 5px;
}

/* Links/On hover links in sidebar */
a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  color: #77001d;
  transition: all 1s ease-in-out;
}
a:hover,
a:focus {
  color: #000;
  transition: all 1s ease-in-out;
}

/* Socials Bar in sidebar */
.socials ul {
  padding: 10px;
  display: flex;
}
.socials ul li {
  list-style: none;
  margin: 0 15px;
}

/* Color change of icon on hover/off hover */
#hover {
  transition: all 300ms ease-in-out 0s;
}
#hover:hover {
  color: #77001d !important;
  transition: all 300ms ease-in-out 0s;
}

/* Footer (Who it was created by) in sidebar */
.footer {
  display: inline-block;
  padding: 6px 20px;
  color: rgb(100, 100, 100);
  font-size: 12px;
  font-family: "Raleway", sans-serif;
}

/* Text resize change on width before mobile/tablet */
@media (max-width: 1024px) and (min-width: 769px) {
  /* Main title on all pages */
  .intro u {
    font-size: calc(22px + 4 * ((100vw - 320px) / (448)));
  }

  /* Blinking cursor on index page */
  .intro .blinking-cursor {
    font-size: calc(22px + 4 * ((100vw - 320px) / (448)));
  }

  /* First description on all pages */
  .paragraph h1 {
    font-size: calc(30px + 6 * ((100vw - 768px) / 256));
  }

  /* Second description on all pages */
  .paragraph p {
    font-size: calc(17px + 4 * ((100vw - 320px) / (448)));
  }

  /* Contact me button on index page */
  .ind-ln {
    font-size: calc(11px + 4 * ((100vw - 320px) / (448)));
  }
}

/* Navbar doesn't appear on desktop/only sidebar */
@media (min-width: 769px) {
  .navbar {
    display: none;
  }

  .lay {
    position: absolute;
    left: 260px;
  }
}

@media (max-width: 768px) {
  /* Frame of icons on skill page */
  .frame {
    -webkit-box-pack: center !important;
    justify-content: center !important;
  }

  /* Technologies I know from skills page */
  .know {
    font-size: calc(12px + 4 * ((100vw - 320px) / (448))) !important;
  }

  /* No side bar on mobile/tablet */
  .sidebar {
    display: none;
  }

  /* Title and description of all pages */
  .paragraph,
  .paragraph2 {
    max-width: none !important;
  }

  /* Top Padding on Main Section on Width Change */
  .under {
    padding-top: 70px;
  }

  /* Main Section on Width Change */
  .outline {
    text-align: center;
    margin: 5rem auto;
    height: 100%;
    padding: 0px 2rem;
  }

  /* Title of skills and intro title */
  .intro u,
  .skills u {
    font-size: calc(20px + 4 * ((100vw - 320px) / (448)));
  }

  /* Blinking cursor from index page */
  .intro .blinking-cursor {
    font-size: calc(20px + 4 * ((100vw - 320px) / (448)));
  }

  /* First desc of all pages */
  .paragraph h1,
  .paragraph2 h1 {
    font-size: calc(28px + 4 * ((100vw - 320px) / (448)));
  }

  /* Second desc of all pages */
  .paragraph p,
  .paragraph2 p {
    font-size: calc(16px + 4 * ((100vw - 320px) / (448)));
    padding-right: unset !important;
  }

  /* Contact me button */
  .ind-ln {
    font-size: calc(10px + 4 * ((100vw - 320px) / (448)));
  }

  /* Navbar */
  .navbar li {
    font-size: calc(12px + 4 * ((100vw - 320px) / (448)));
  }
  .navbar h2 {
    font-size: calc(22px + 4 * ((100vw - 320px) / (448)));
  }

  /* Error Page Text Resize */
  .outline p {
    padding-right: unset;
  }
  .outline .one {
    font-size: calc(49px + 6 * ((100vw - 320px) / (448))) !important;
  }
  .outline .two {
    font-size: calc(29px + 6 * ((100vw - 320px) / (448))) !important;
  }
  .outline .three {
    font-size: calc(14px + 4 * ((100vw - 320px) / (448))) !important;
  }

  /* Portfolio Page Text Resize */
  .paragraph2 .note {
    font-size: calc(16px + 4 * ((100vw - 320px) / (448)));
    padding-right: unset !important;
  }
  .row {
    flex-flow: column-reverse wrap;
  }
  .desc h3 {
    font-size: calc(18px + 2 * ((100vw - 320px) / (448))) !important;
    padding-top: 30px;
  }
  #bubbles {
    font-size: calc(10px + 2 * ((100vw - 320px) / (448))) !important;
  }
  .desc2 {
    font-size: calc(16px + 2 * ((100vw - 320px) / (448))) !important;
  }
  .desc-link1,
  .desc-link2 {
    font-size: calc(10px + 2 * ((100vw - 320px) / (448))) !important;
    margin-right: unset !important;
    display: block;
  }
  .col-r {
    flex-basis: 100% !important;
    width: 100%;
    padding: 0px !important;
  }
}
